version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: love-chronicles-dev
    ports:
      - "3000:3000"
    volumes:
      # Mount source code for hot reload
      - .:/app
      # Prevent node_modules from being overwritten
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
    stdin_open: true
    tty: true
